<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Homepage</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <div class="content-wrap">
        <div class="container mt-3">
            <div class="row">
                <% blogs.forEach(blog => { %>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 blog-card">
                            <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="<%= blog.title %> cover image">
                            <div class="card-body">
                                <h5 class="card-title"><%= blog.title %></h5>
                                <p class="card-text"><%= blog.body.slice(0, 100) %>...</p>
                                <a href="blog/<%= blog._id %>" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
        <%- include('./partials/scripts.ejs') %>
        <%- include('./partials/footer.ejs') %>
</body>

</html>